[Desktop Entry]
GenericName=EZCAP
Name=EZCAP
Version=21.5.18.0
Exec=EZCAP
Comment= EZCAP for x86_64 Ubuntu
Icon=EZCAP.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Education
