[Desktop Entry]
GenericName=EZCAP
Name=EZCAP
Version=21.5.17.0
Exec=EZCAP
Comment= EZCAP for Arm64
Icon=EZCAP.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Education
